<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>ID</key>
		<string>1001</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>5</string>
		<key>groupto</key>
		<string>1002</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1003</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>ID</key>
		<string>1002</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>20</string>
		<key>groupto</key>
		<string>1004</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1005</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>ID</key>
		<string>1002</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>40</string>
		<key>groupto</key>
		<string>1004</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1005</string>
	</dict>
	<key>1004</key>
	<dict>
		<key>ID</key>
		<string>1004</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>100</string>
		<key>groupto</key>
		<string>1006</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1007</string>
	</dict>
	<key>1005</key>
	<dict>
		<key>ID</key>
		<string>1004</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>200</string>
		<key>groupto</key>
		<string>1006</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1007</string>
	</dict>
	<key>1006</key>
	<dict>
		<key>ID</key>
		<string>1006</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>500</string>
		<key>groupto</key>
		<string>1008</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1009</string>
		<key>character</key>
		<string>1</string>
	</dict>
	<key>1007</key>
	<dict>
		<key>ID</key>
		<string>1006</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>1000</string>
		<key>groupto</key>
		<string>1008</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1009</string>
		<key>character</key>
		<string>1</string>
	</dict>
	<key>1008</key>
	<dict>
		<key>ID</key>
		<string>1008</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>1500</string>
		<key>groupto</key>
		<string>1010</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1011</string>
		<key>character</key>
		<string>2</string>
	</dict>
	<key>1009</key>
	<dict>
		<key>ID</key>
		<string>1008</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>3000</string>
		<key>groupto</key>
		<string>1010</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1011</string>
		<key>character</key>
		<string>2</string>
	</dict>
	<key>1010</key>
	<dict>
		<key>ID</key>
		<string>1010</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>5000</string>
		<key>groupto</key>
		<string>1012</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1013</string>
		<key>character</key>
		<string>3</string>
	</dict>
	<key>1011</key>
	<dict>
		<key>ID</key>
		<string>1010</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>10000</string>
		<key>groupto</key>
		<string>1012</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1013</string>
		<key>character</key>
		<string>3</string>
	</dict>
	<key>1012</key>
	<dict>
		<key>ID</key>
		<string>1012</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>20000</string>
		<key>groupto</key>
		<string>1014</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1015</string>
		<key>character</key>
		<string>4</string>
	</dict>
	<key>1013</key>
	<dict>
		<key>ID</key>
		<string>1012</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>40000</string>
		<key>groupto</key>
		<string>1014</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>1015</string>
		<key>character</key>
		<string>4</string>
	</dict>
	<key>1014</key>
	<dict>
		<key>ID</key>
		<string>1014</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>60000</string>
		<key>groupto</key>
		<string>1016</string>
		<key>groupneed</key>
		<string>4</string>
		<key>groupsuper</key>
		<string>1017</string>
		<key>character</key>
		<string>5</string>
	</dict>
	<key>1015</key>
	<dict>
		<key>ID</key>
		<string>1014</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>120000</string>
		<key>groupto</key>
		<string>1016</string>
		<key>groupneed</key>
		<string>4</string>
		<key>groupsuper</key>
		<string>1017</string>
		<key>character</key>
		<string>5</string>
	</dict>
	<key>1016</key>
	<dict>
		<key>ID</key>
		<string>1016</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>250000</string>
		<key>groupto</key>
		<string>1018</string>
		<key>groupneed</key>
		<string>5</string>
		<key>groupsuper</key>
		<string>1019</string>
		<key>character</key>
		<string>6</string>
	</dict>
	<key>1017</key>
	<dict>
		<key>ID</key>
		<string>1016</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>500000</string>
		<key>groupto</key>
		<string>1018</string>
		<key>groupneed</key>
		<string>5</string>
		<key>groupsuper</key>
		<string>1019</string>
		<key>character</key>
		<string>6</string>
	</dict>
	<key>1018</key>
	<dict>
		<key>ID</key>
		<string>1018</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>1500000</string>
		<key>character</key>
		<string>7</string>
	</dict>
	<key>1019</key>
	<dict>
		<key>ID</key>
		<string>1018</string>
		<key>type</key>
		<string>1</string>
		<key>score</key>
		<string>3000000</string>
		<key>character</key>
		<string>7</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>ID</key>
		<string>2001</string>
		<key>type</key>
		<string>2</string>
		<key>score</key>
		<string>0</string>
		<key>groupto</key>
		<string>2002</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>2003</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>ID</key>
		<string>2002</string>
		<key>type</key>
		<string>2</string>
		<key>score</key>
		<string>1200</string>
		<key>groupto</key>
		<string>2004</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>2005</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>ID</key>
		<string>2002</string>
		<key>type</key>
		<string>2</string>
		<key>score</key>
		<string>2400</string>
		<key>groupto</key>
		<string>2004</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>2005</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>ID</key>
		<string>2004</string>
		<key>type</key>
		<string>2</string>
		<key>score</key>
		<string>6000</string>
		<key>groupto</key>
		<string>7001</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>7001</string>
	</dict>
	<key>2005</key>
	<dict>
		<key>ID</key>
		<string>2004</string>
		<key>type</key>
		<string>2</string>
		<key>score</key>
		<string>12000</string>
		<key>groupto</key>
		<string>7001</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>7001</string>
	</dict>
	<key>3001</key>
	<dict>
		<key>ID</key>
		<string>3001</string>
		<key>type</key>
		<string>3</string>
		<key>score</key>
		<string>0</string>
		<key>groupto</key>
		<string>3002</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>3002</string>
	</dict>
	<key>3002</key>
	<dict>
		<key>ID</key>
		<string>3002</string>
		<key>type</key>
		<string>3</string>
		<key>score</key>
		<string>1600</string>
		<key>groupto</key>
		<string>7003</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>7004</string>
	</dict>
	<key>4001</key>
	<dict>
		<key>ID</key>
		<string>4001</string>
		<key>type</key>
		<string>4</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>4002</key>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>ID</key>
		<string>4002</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>5001</key>
	<dict>
		<key>ID</key>
		<string>5001</string>
		<key>type</key>
		<string>5</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>5002</key>
	<dict>
		<key>ID</key>
		<string>5002</string>
		<key>type</key>
		<string>5</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>6001</key>
	<dict>
		<key>ID</key>
		<string>6001</string>
		<key>type</key>
		<string>6</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>7001</key>
	<dict>
		<key>ID</key>
		<string>7001</string>
		<key>type</key>
		<string>7</string>
		<key>score</key>
		<string>15000</string>
		<key>groupto</key>
		<string>7003</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>7004</string>
	</dict>
	<key>7002</key>
	<dict>
		<key>ID</key>
		<string>7001</string>
		<key>type</key>
		<string>7</string>
		<key>score</key>
		<string>30000</string>
		<key>groupto</key>
		<string>7003</string>
		<key>groupneed</key>
		<string>3</string>
		<key>groupsuper</key>
		<string>7004</string>
	</dict>
	<key>7003</key>
	<dict>
		<key>ID</key>
		<string>7003</string>
		<key>type</key>
		<string>7</string>
		<key>score</key>
		<string>50000</string>
	</dict>
	<key>7004</key>
	<dict>
		<key>ID</key>
		<string>7003</string>
		<key>type</key>
		<string>7</string>
		<key>score</key>
		<string>100000</string>
	</dict>
	<key>8001</key>
	<dict>
		<key>ID</key>
		<string>8001</string>
		<key>type</key>
		<string>8</string>
		<key>score</key>
		<string>0</string>
	</dict>
	<key>9001</key>
	<dict>
		<key>ID</key>
		<string>9001</string>
		<key>type</key>
		<string>9</string>
		<key>score</key>
		<string>0</string>
		<key>memo</key>
		<string>godness</string>
	</dict>
</dict>
</plist>
