<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bg_main.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 854}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 854}</string>
			<key>spriteSourceSize</key>
			<string>{480, 854}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 854}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 395}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 474}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 316}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 75}}</string>
			<key>spriteOffset</key>
			<string>{-30, -0}</string>
			<key>spriteSize</key>
			<string>{15, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 553}, {15, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 0}, {17, 75}}</string>
			<key>spriteOffset</key>
			<string>{29, -0}</string>
			<key>spriteSize</key>
			<string>{17, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 553}, {17, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 30}</string>
			<key>spriteSize</key>
			<string>{75, 15}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 632}, {75, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 58}, {75, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -29}</string>
			<key>spriteSize</key>
			<string>{75, 17}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 858}, {75, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{-31, 31}</string>
			<key>spriteSize</key>
			<string>{13, 13}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{503, 570}, {13, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{395, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{-31, 31}</string>
			<key>spriteSize</key>
			<string>{13, 13}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{503, 553}, {13, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 879}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 237}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 158}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 79}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 858}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>tilea4x4.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>tilea4x4</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>tilea4x4</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>