<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>gold</string>
		<key>num</key>
		<string>200</string>
		<key>range</key>
		<string>30</string>
	</dict>
	<key>1</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>ID</key>
		<string>6001</string>
		<key>range</key>
		<string>60</string>
	</dict>
	<key>2</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>move</string>
		<key>num</key>
		<string>200</string>
		<key>range</key>
		<string>90</string>
	</dict>
	<key>3</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>gold</string>
		<key>num</key>
		<string>500</string>
		<key>range</key>
		<string>120</string>
	</dict>
	<key>4</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>gold</string>
		<key>num</key>
		<string>100</string>
		<key>range</key>
		<string>150</string>
	</dict>
	<key>5</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>ID</key>
		<string>1006</string>
		<key>range</key>
		<string>180</string>
	</dict>
	<key>6</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>gold</string>
		<key>num</key>
		<string>200</string>
		<key>range</key>
		<string>210</string>
	</dict>
	<key>7</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>ID</key>
		<string>5001</string>
		<key>range</key>
		<string>240</string>
	</dict>
	<key>8</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>gold</string>
		<key>num</key>
		<string>100</string>
		<key>range</key>
		<string>270</string>
	</dict>
	<key>9</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>ID</key>
		<string>2004</string>
		<key>range</key>
		<string>300</string>
	</dict>
	<key>10</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>ID</key>
		<string>move</string>
		<key>num</key>
		<string>200</string>
		<key>range</key>
		<string>330</string>
	</dict>
	<key>11</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>ID</key>
		<string>5002</string>
		<key>range</key>
		<string>360</string>
	</dict>
</dict>
</plist>
