<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bub1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 77}, {39, 34}}</string>
			<key>spriteOffset</key>
			<string>{-10, -19}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 471}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 84}, {19, 14}}</string>
			<key>spriteOffset</key>
			<string>{-6, -16}</string>
			<key>spriteSize</key>
			<string>{19, 14}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{747, 81}, {19, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 71}, {25, 28}}</string>
			<key>spriteOffset</key>
			<string>{-4, -10}</string>
			<key>spriteSize</key>
			<string>{25, 28}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 468}, {25, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 70}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{-5, -10}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 546}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 71}, {27, 28}}</string>
			<key>spriteOffset</key>
			<string>{-5, -10}</string>
			<key>spriteSize</key>
			<string>{27, 28}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 516}, {27, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 70}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{-5, -10}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 516}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 70}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{-5, -10}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 516}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 69}, {29, 30}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{29, 30}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 147}, {29, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 68}, {37, 40}}</string>
			<key>spriteOffset</key>
			<string>{-7, -13}</string>
			<key>spriteSize</key>
			<string>{37, 40}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 516}, {37, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 68}, {37, 38}}</string>
			<key>spriteOffset</key>
			<string>{-8, -12}</string>
			<key>spriteSize</key>
			<string>{37, 38}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 471}, {37, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 68}, {37, 40}}</string>
			<key>spriteOffset</key>
			<string>{-7, -13}</string>
			<key>spriteSize</key>
			<string>{37, 40}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 147}, {37, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 77}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{-11, -19}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 507}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 68}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{-8, -13}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 511}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 68}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{-8, -13}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 147}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 68}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{-9, -13}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 81}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 77}, {37, 32}}</string>
			<key>spriteOffset</key>
			<string>{-10, -18}</string>
			<key>spriteSize</key>
			<string>{37, 32}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 394}, {37, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 77}, {39, 32}}</string>
			<key>spriteOffset</key>
			<string>{-10, -18}</string>
			<key>spriteSize</key>
			<string>{39, 32}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 433}, {39, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 75}, {41, 36}}</string>
			<key>spriteOffset</key>
			<string>{-11, -18}</string>
			<key>spriteSize</key>
			<string>{41, 36}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 433}, {41, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 75}, {45, 36}}</string>
			<key>spriteOffset</key>
			<string>{-11, -18}</string>
			<key>spriteSize</key>
			<string>{45, 36}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 394}, {45, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 75}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{-11, -19}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 147}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 75}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{-11, -19}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 40}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 75}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{-11, -19}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 0}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 86}, {35, 28}}</string>
			<key>spriteOffset</key>
			<string>{-16, -25}</string>
			<key>spriteSize</key>
			<string>{35, 28}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 516}, {35, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bub9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 84}, {35, 30}}</string>
			<key>spriteOffset</key>
			<string>{-16, -24}</string>
			<key>spriteSize</key>
			<string>{35, 30}</string>
			<key>spriteSourceSize</key>
			<string>{75, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 516}, {35, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buborder.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {384, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{384, 192}</string>
			<key>spriteSourceSize</key>
			<string>{384, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {384, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_cgrass1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {108, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{108, 54}</string>
			<key>spriteSourceSize</key>
			<string>{108, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 138}, {108, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_cgrass2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {108, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{108, 54}</string>
			<key>spriteSourceSize</key>
			<string>{108, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 516}, {108, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button_cgrass3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {108, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{108, 54}</string>
			<key>spriteSourceSize</key>
			<string>{108, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{657, 138}, {108, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>godness1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {334, 318}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{334, 318}</string>
			<key>spriteSourceSize</key>
			<string>{336, 318}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 195}, {334, 318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>godness2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{156, 136}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 0}, {156, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>godness3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 144}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 0}, {156, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>godness4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{156, 136}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 516}, {156, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nbu1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {96, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{96, 98}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 294}, {96, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nbu2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {96, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{96, 98}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 193}, {96, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>weico1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {320, 318}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{320, 318}</string>
			<key>spriteSourceSize</key>
			<string>{336, 318}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 195}, {320, 318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{768, 768}</string>
		<key>name</key>
		<string>GameScene_godness.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>GameScene_godness</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GameScene_godness</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>